<ion-view view-title="" name="agenda">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        <div class="button button-clear hdr-logo"><!-- <img src='img/logompr_v2.png'/> --></div>
        <div class="button button-clear tit_logado"><span class="titleInternal">Convidados </div>
    </ion-nav-buttons>


<ion-content scroll="true" id="interno" class="bg-color">


<ion-list>

<ion-checkbox class="item-checkbox-right" ng-model="filter.red"> teste </ion-checkbox>
<ion-checkbox class="item-checkbox-right" ng-model="filter.red1"> teste2 </ion-checkbox>
<ion-checkbox class="item-checkbox-right" ng-model="filter.red2"> teste3 </ion-checkbox>
<ion-checkbox class="item-checkbox-right" ng-model="filter.red3"> teste4 </ion-checkbox>

</ion-list>

</ion-content>
</ion-view>