<ion-view view-title="" name="mapa">

    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        <div class="button button-clear hdr-logo"><!-- <img src='img/logompr_v2.png'/> --></div>
        <div class="button button-clear tit_logado"><span class="titleInternal">Mapeamento</div>
    </ion-nav-buttons>


<ion-content scroll="true" id="interno" class="bg-color">

<article>
  
  
</article><br>
<div class="mais">mais</div>
<br>
<div class="menos">menos</div>
<!-- <div class="list list-inset listAgendaDoDia">

    <a class="item" href="#/app/empresa/{{$index}}/null"  ng-repeat="itemDia in agendaDia">
      <span class="horario">{{itemDia.horario}} h </span> <div class="cliCon"> <span class="cliente">{{itemDia.empresa}} </span> <br> <span class="contato">{{itemDia.cliente}}</span>
      </div>
      <div class="imgFeedback"> 
        <img src="img/feedback.png">
      </div>
    </a>



</div> -->
<!-- <div id="resultMessage">None yet</div> -->


<br>
<br>

      ---------- <div id="resultMessage1">1</div> ----------

<br>
<br>
      
   ---------- <div id="resultMessage2">2</div> ----------
 
<br>
<br>  
  ---------- <div id="resultMessage3">3</div> ----------

<br>
<br>  
  ---------- <div id="resultMessage4">4</div> ----------
 
<br>
<br> 
</ion-content>
</ion-view>